@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


    <h4>Je me présente</h4>
    <p>Je suis une traductrice et interprète qui essaie d'apprendre à coder</p>
    <p>(ça me parait assez amusant pour le moment, mais quel challenge !)</p>
    <p>Je suis d'origine italienne et j'habite à Bruxelles depuis bientot 4 ans</p>
    <p>Ne te surprends pas si je te demande si tu as mangé aujourd'hui : c'est une typique question de mamie italienne, faut que tu y fasses l'habitude !</p>
    <img src="~/images/avatar.png" />
