@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>La magnifique commune d'Etterbeek</h4>
<p>Royaume des fonctionnaires européens pas trop sympas (je suis gentille)</p>
<img src="~/images/map.png" />
