@{
    ViewBag.Title = "Mes hobbies";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>en ordre très random...</p>
<ul>
    <li>La bouffe</li>
    <li>Le pole dance</li>
    <li>Les podcasts (surtout d'histoire et féministes)</li>
    <li>Les BD (ça commence...)</li>
    <li>Le stand-up comedy</li>
    <li>La couture (mais je sais à peine faire des ourlets)</li>
    <li>L'ortographe (meme si on ne le dirait pas en regardant ce site...)</li>
    <li>La bière et le vin</li>
    <li>Marcher en foret</li>
    <li>Le Karaoke</li>
</ul>
<img src="~/images/trex.gif" />
