@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Une application qui me ressemble</h1>
    <p class="lead">Le but de cette application est demontrer qu'on a compris tout ce qu'on a fait pendant le cours du 13 janvier 2021</p>
    <p>On verra bien et sinon il faudra bosser comme des fous (encore plus que d'hab !)</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Allez au site web de ASP.Net &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            Vous y trouverez une présentation de moi
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Cette page affiche une carte de la région où j'habite</p>
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>Ici je liste mes hobbies et mes passions</p>
    </div>
</div>